

    <div class= "container" id="mainWrapper">


    <h1>Website Scrapper</h1>
    <h2>Click on each image to add a note</h2>
    <button >  <a class="nav-link" href="/scrape">Scrap me </a> </button>

     {{#if dbArticle}}
    {{#each dbArticle}}
    <div class="row">
        <div class="col-md-12 " id="gif-space">
           <div class="card article-space" style="width: 18rem;">
        <img class="card-img-top" class="thumbnail" src="{{thumbnail}}" db_id={{_id}} headline="{{headline}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" class="headline" db_id={{_id}}>{{headline}}</h5>
         
          <a href="{{link}}" class="btn btn-primary" target="_blank">Learn more</a>
        </div>
      </div>
       {{/each}}
        {{else}}
    <h2>No articles found! Press scrape to retrieve more articles</h2>
    {{/if}}

        </div>
     </div>


     
     

    <div id="results-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" id="modal">
        <div class="modal-header">

          <h4 class="modal-title">Notes for <strong><text id="headline"></text></strong> </h4>
          
        </div>
        <div class="modal-body">
        
          <h3>Notes </h3>
          <div id="note-space"></div>

          <h5>Add a note:</h5>
        <textarea placeholder="New Note" rows="6" cols="60" id="note"></textarea>

        <br>
        <br>
        <hr>
         
          <button type="button" class="btn btn-outline-success" id="modalSubmit" data-dismiss="modal">Submit
            <i class="far fa-arrow-alt-circle-up"></i>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

      

    </div>